h1 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.team-heading {
    background-color: #363c74;
}

.text-center {
    color: white;
}

.engineer {
    background-color: #e89519;
}

.intern {
    background-color: #c9c38b;
}

.manager {
    background-color: #8385ad;
}

.team-area {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 576px) {
    .employee-card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .employee-card {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .employee-card {
        width: 33%;
    }
}

@media (min-width: 1200px) {
    .employee-card {
        width: 33%;
    }
}